@import normalize
@import flex
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700,700i')
@import url('https://fonts.googleapis.com/css?family=Raleway')

$w: 1100px

$title: 'PT Serif', georgia, serif
$font: 'Raleway', verdana, helvetica, sans-serif

*
  box-sizing: border-box

@import core
@import header
@import footer
@import main
